@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none;
}

*::selection {
  background-color: #111;
  color: #999;
}

html,
body {
  margin-top: 30px;
  background-color: #111;
  /* scroll-behavior: smooth; */
  scroll-padding-top: 40%;
  height: 100%;
}

h1 {
  white-space: nowrap;
  font-size: 4rem;
}

li {
  display: flex;
  align-items: center;
  user-select: none;
  list-style: none;
}

.section-li {
  white-space: nowrap;
}

.add-section {
  user-select: none;
  transition: background-color 0.5s;
  padding: 20px;
  border: 0;
}

.section-li:hover,
.add-section:hover {
  cursor: pointer;
  background-color: #ccc;
}

.section-li {
  transition: background-color 0.5s;
  padding: 10px;
}

.nav-list,
.nav-bar {
  display: flex;
  background-color: #eee;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
}

.nav-list {
  overflow-x: auto;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20vw 30px;
  color: #eee;
}

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-wrapper {
  padding: 40px;
}

.section {
  background-color: #333;
  color: #eee;
  padding: 10px 30px 30px;
  max-width: 800px;
  border-radius: 30px;
  box-shadow: #000 0 0 30px;
}

.section-header {
  padding: 20px 0;
  white-space: nowrap;
}

.section-head {
  display: flex;
  justify-content: space-between;
}

.collapse-section {
  user-select: none;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: #333;
  color: #eee;
  border: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.collapse-section:hover {
  background-color: #222;
}

.section-collapsed {
  height: 90px;
}

.section-collapsed .section-content {
  visibility: hidden;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer {
  padding: 20vw 30px;
  color: #eee;
}

.section-focused {
  background-color: #777;
  box-shadow: #eee 0 0 30px;
  color: #fff;
}

.section-focused .collapse-section {
  background-color: #777;
  color: #fff;
}

.li-focused {
  background-color: #bbb;
}

.li-focused:hover {
  background-color: #aaa;
}

.section-focused .collapse-section:hover {
  background-color: #666;
}

@media screen and (max-width: 1500px) and (min-width: 400px) {
  html,
  body {
    scroll-padding-top: 20%;
  }

  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 399px) {
  html,
  body {
    scroll-padding-top: 10%;
  }

  h1 {
    font-size: x-large;
  }

  .scroll-top {

  }

  .title-section.guide {
    font-size: smaller;
  }

  .section-wrapper {
    padding: 20px;
  }

  .section-header {
    font-size: medium;
  }

  .section {
    padding: 15px;
  }
  
}

.scroll-top {
  transition: bottom 0.5s;
  cursor: pointer;
  text-decoration: none;
  padding: 20px;
  border-radius: 30px;
  box-shadow: #000 0 0 50px;
  position: fixed;
  background-color: #111;
  color: #eee;
  bottom: 20px;
  right: 20px;
}

.scroll-top-hidden {
  bottom: -100px;
}
